.slider
  .slider__title 
    span Широкий 
    div ассортимент
  .slider__item.visible
    img.slider__item-img(src='./resources/images/slide1.jpg')
  .slider__title 
    span Широкий 
    div ассортимент
  .slider__item
    img.slider__item-img(src='./resources/images/delivery.jpg')
  .slider__title 
    span Широкий 
    div ассортимент
  .slider__item
    img.slider__item-img(src='./resources/images/slide1.jpg')
  .slider__title 
    span Широкий 
    div ассортимент
  .slider__item
    img.slider__item-img(src='./resources/images/delivery.jpg')
  .slider__dots