.preim-outer
  .preim
    h3.preim__title Наши преимущества

    .preim-row
      .iconBox
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#low-price')
          .iconBlock__text лучшая цена
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#assortment')
          .iconBlock__text огромный ассортимент
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#diamond')
          .iconBlock__text лучшее качество
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#quick')
          .iconBlock__text БЫСТРАЯ ОТПРАВКА
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#percent')
          .iconBlock__text СКИДКИ 5%-30%
        .iconBlock
          svg.iconBlock__icon
            use(href='./resources/images/sprite.svg#delivery-truck')
          .iconBlock__text ДОСТАВКА ПО СНГ

      .preimBox
        h3.preimBox__title Самые низкие цены - Товар напрямую от поставщика!
        .preimBox__text
          | Вся наша продукция изготавливается ведущими заводами-производителями стран СНГ и зарубежными фабриками. Наши цены, даже с наценкой, зачастую намного иже, чем цены наших конкурентов, благодаря многолетним дружественным отношениям с руководством наших поставщиков.

