.howToBuy
  h3.howToBuy__title Как купить

  .howToBuy-row
    .order
      .orderBox
        .orderBox__number 1
        .orderBox__text Выбрать нужный товар, перейдя к нему через каталог в левой части сайта, выбрав его в одной из категорий в центральной части сайта, открыв каталог, кликнув по кнопке «каталог» в нижней части сайта либо найдя товар через поисковик.
      .orderBox
        .orderBox__number 2
        .orderBox__text Указать нужное количество товара, которое вы хотите приобрести.
      .orderBox
        .orderBox__number 3
        .orderBox__text Нажать кнопку «В корзину»
      .orderBox
        .orderBox__number 4
        .orderBox__text Если требуется купить еще 1 и более товаров, то повторить процедуру.
      .orderBox
        .orderBox__number 5
        .orderBox__text Перейти в «Корзину» в верхней части сайта, проверить выбранные товары и их количество.
      .orderBox
        .orderBox__number 6
        .orderBox__text Нажмите кнопку «Подтвердить», заполните данные в появившемся окне.
      .orderBox
        .orderBox__number 7
        .orderBox__text Нажмите «Заказать». Готово. 
          br
          | Далее мы с Вами свяжемся чтобы подтвердить Вашу покупку с нашей стороны.

    svg.question
      use(href='./resources/images/sprite.svg#question-mark')
      
