.products
  h3.products__title Популярные товары

  .products__layout
    .mini-slider
      .mini-slider__item.visible
        .mini-slider__content
          .mini-slider__title Ремни клиновые
          .mini-slider__button Подробнее
        img.mini-slider__item-img(src='./resources/images/mini.jpg')
      .mini-slider__item
        .mini-slider__content
          .mini-slider__title Ремни клиновые
          .mini-slider__button Подробнее
        img.mini-slider__item-img(src='./resources/images/mini.jpg')
      .mini-slider__item
        .mini-slider__content
          .mini-slider__title Ремни клиновые
          .mini-slider__button Подробнее
        img.mini-slider__item-img(src='./resources/images/mini.jpg')
      .mini-slider__item
        .mini-slider__content
          .mini-slider__title Ремни клиновые
          .mini-slider__button Подробнее
        img.mini-slider__item-img(src='./resources/images/mini.jpg')
      .mini-slider__dots

    .products__layoutBox
      .product-one__item
        .product-one__img
          img(src='./resources/images/salniks.jpg')
        .product-one__content
          .product-one__title Сальники
          .product-one__button Подробнее
      
      .product-one__item
        .product-one__img
          img(src='./resources/images/patrub.jpg')
        .product-one__content
          .product-one__title Патрубки
          .product-one__button Подробнее