.deliveryBg

  .delivery
    h3.delivery__title Доставка

    .deliveryBox
      .deliveryBox__content
        h4.deliveryBox__title Доставка по Караганде :
        p.deliveryBox__text Вы можете заказать доставку курьером или забрать товар лично в нашем магазине. 
          br
          span Цена доставки курьером : от 1000тг. 
          br
          | Акция : при заказе товаров на сумму от 
          span 20 000 
          | тг доставка осуществляется 
          span бесплатно
      svg.deliveryBox__icon
        use(href='./resources/images/sprite.svg#box')
    .deliveryBox
      .deliveryBox__content
        h4.deliveryBox__title Доставка почтой или ТК (Казахстан , Россия , Белорусь) :
        p.deliveryBox__text Вы можете выбрать для себя наиболее удобный способ доставки, товары отправляются из города Караганда. 
      svg.deliveryBox__icon
        use(href='./resources/images/sprite.svg#box')
    .deliveryBox
      .deliveryBox__content
        h4.deliveryBox__title Почта Казахстана :
        p.deliveryBox__text Рассчитать контрольные сроки доставки и стоимость (наш индекс 
          span 100022
          | ), 
          br
          | отследить посылку (
          span post.kz
          | )
      svg.deliveryBox__icon
        use(href='./resources/images/sprite.svg#box')
    .deliveryBox
      .deliveryBox__content
        h4.deliveryBox__title СДЭК (доставка до двери) :
        p.deliveryBox__text Международная компания с низкими ценами и высокими стандартами качества. Рассчитать контрольные сроки доставки и стоимость (
          span cdek.kz
          | )
      svg.deliveryBox__icon
        use(href='./resources/images/sprite.svg#box')
    .deliveryBox
      .deliveryBox__content
        h4.deliveryBox__title DHL EXPRESS :
        p.deliveryBox__text Мировой лидер в области почтовых и логистических услуг, рассчитать контрольные сроки доставки и стоимость (
          span dct.dhl.com
          | )
      svg.deliveryBox__icon
        use(href='./resources/images/sprite.svg#box')
      

